.content {
  display: grid;
}

.clearBackspace {
  padding-bottom: 2vh;
  align-items: center;
}
.numberButtons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  padding: 10px;
  align-items: center;
  width: 60px;
}

.functionButtons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    padding: 10px;
    align-items: center;
    width: 10vw;
}
