:root {
  background: rgb(211, 207, 201);
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
}

.calculatorContainer {
  padding: 0.2em;
  display: flex;
  background-color: wheat;
  width: 400px;
  height: 500px;
  justify-content: space-evenly;
  border-radius: 0.5em;
}

/* .inputArea, .clearBackspace, .numberButtons, .functionButtons {
  flex: 200px;
} */
